.MonList {
    grid-area: mons;
    width: 100%;

    h2 {
        font: var(--title-font);
        text-transform: capitalize;
        padding-left: 0.5rem;
    }

    ul {
        height: 80vh;
        margin: 1rem 0 0 0;
        padding: 0;
        overflow: auto;
        width: 65%;
    }

    &__pokemon {
        list-style: none;
        padding: 0.1rem 0.5rem;

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0.5rem 0 0.5rem 0.25rem;
            text-align: left;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                outline: none;
                background: var(--color-id-teal);
                font-weight: 700;
            }
            &:focus {
                outline: none;
                background: var(--color-id-lime);
                font-weight: 700;
            }
        }
    }
}

.BubbleChart {
    grid-area: bubble;
    justify-self: center;
}

.Detail {
    grid-area: detail;

    img {
        width: 20rem;
    }
    h2 {
        text-transform: capitalize;
    }
}
