.App {
    display: grid;
    grid: 'header' auto 'main' 1fr / 1fr;
    text-align: left;

    &__header {
        background: var(--color-id-purple);
        color: var(--color-id-teal);
        grid-area: header;

        h1 {
            padding: 0 1rem;
        }
    }

    &__main {
        grid-area: main;
        display: grid;
        grid: 'mons bubble detail' / 20% 1fr 30%;
    }

    .Detail {
        grid-area: detail;
    }
    .BubbleChart {
        grid-area: bubble;
        justify-self: center;
    }
}
